html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

label {
    display: block;
}

.section {
    margin: 2rem 0
}

.center-text {
    text-align: center;
}

.fw-300 {
    font-weight: 300;
}

.display-block {
    display: block!important;
}

.centered-content {
    max-width: 80rem;
}

.button {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}

.button-orange {
    background-color: #e08709;
}

.button-green {
    background-color: #71b100;
}

.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.start {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.header-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-content h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.navigation a:last-of-type {
    margin: 0;
}

.navigation a:hover {
    color: #71b100;
}

.icons-nosotros {
    display: flex;
    justify-content: space-between;
}

.icons {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.icons h3 {
    text-transform: uppercase;
}

.ad-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ad {
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

.ad-content {
    padding: 2rem;
}

.ad-content h3,
.ad-content p {
    margin: 0
}

.price {
    color: #71b100;
    font-weight: 700;
}

.view-all {
    display: flex;
    justify-content: flex-end;
}

.contact-image {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contact-content {
    flex: 1;
    color: white;
}

.contact-content p {
    font-size: 1.8rem;
}

.icons-features {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 50rem;
    flex: 1;
}

.icons-features li {
    display: flex;
}

.icons-features li img {
    margin-right: 2rem;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
}

.bottom-section .blog {
    flex-basis: 60%;
}

.bottom-section .tokens {
    flex-basis: calc(40% - 2rem)
}

.blog-post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.blog-post:last-of-type {
    margin-bottom: 0;
}

.blog-post .image {
    flex-basis: 40%;
}

.blog-post .blog-text {
    flex-basis: calc(60% - 3rem)
}

.blog-text h4 {
    margin: 0;
    line-height: 1.4;
}

.blog-text a {
    color: black;
    text-decoration: none;
}

.blog-text h4::after {
    content: '';
    display: block;
    width: 15rem;
    height: 0.5rem;
    background-color: #71b100;
    margin-top: 1rem;
}

.blog-text span {
    color: #e08709
}

.token {
    background-color: #71b100;
    font-size: 2.4rem;
    padding: 2rem;
    color: white;
    border-radius: 2rem;
}

.token p {
    text-align: right;
}

.token blockquote::before {
    content: '';
    background-image: url(../img/comilla.svg);
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}

.token blockquote {
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}

.site-footer {
    background-color: #333333;
    margin-bottom: 0;
}

.footer-container {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin: 0;
    color: white;
}

.nosotros-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.nosotros-text blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0
}

.property-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}